.dropper {
    max-width: 50%;
    // max-height: 90%;
    border: 1px solid rgb(204, 204, 204) !important;
    padding: 1rem;
    border-radius: 0.3rem;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
        0 0px 0 1px rgb(10 10 10 / 2%);
}

.profile-detail-bar {
    width: 100%;
    height: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: repeating-linear-gradient(
            rgba($main, 0.644),
            rgba($main-1, 0.623)
        ),
        url("/storage/bgs/profile_bg.jpg");
    background-position: center;
    & > .p-text {
        width: 100%;
        height: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
        font-size: 4rem;
        font-weight: 300;
        letter-spacing: 1px;
    }
}

.checkbox__lists {
    width: 100%;
    &__list {
        width: inherit;
        & > label {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            padding: 0.725rem 1.5rem;

            cursor: pointer;
            pointer-events: fill;
            transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

            & > input[type="checkbox"] {
                width: 16px;
                height: 16px;
                margin-right: 1.5rem;
            }
            &:hover {
                background-color: #f5f5f5;
            }
        }
    }
}
.table__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    &__title {
        color: $main-1;
        font-size: 1.2rem;
        letter-spacing: 1px;
        font-weight: bold;
    }
    &__lists {
        display: flex;
        &__item:not(:last-child) {
            padding-right: 0.6rem;
        }
        // align-items: center;
    }
}
.kpi__table__wrapper {
    width: 100%;
    // margin: 2rem auto;
}
.kpi__table {
    width: 100%;
    height: inherit;
}

.kpi_goals__wrapper {
    & .goal__btns {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.step__buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    & > button:first-child {
        margin-right: 1rem;
    }
}
.step__buttons.position {
    // padding-left: 23rem;
    // margin-top: 2rem;
}
.table-avatar {
    width: 4rem;
    height: 4rem;
    & > img {
        width: 100%;
        height: 100%;
        border-radius: 99999px;
    }
}
.request__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    &__logo {
        margin-top: 2rem;
        width: 12rem;
        & > img {
            width: 100%;
            height: 100%;
        }
    }
    &__title {
        text-transform: uppercase;
        font-weight: bold;
        color: $main;
        padding: 1rem 0;
    }
    &__trademark {
        width: 95%;
        text-align: left;
        text-transform: uppercase;
        font-weight: bold;
        color: $main;
        padding: 3rem 0;
    }
    &__instruction {
        width: 95%;
        & > article {
            & > p:not(:last-child) {
                padding-bottom: 0.5rem;
            }
        }
    }
    &__form {
        width: 95%;
        &--section {
            width: 100%;
            padding: 1rem;
            border: #167cf057 1px solid;

            & .text {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: flex-end;
                & .text__label {
                    width: 26%;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    padding-right: 0.5rem;
                    & > h6,
                    & > span {
                        font-weight: bold !important;
                    }
                }
                & .text__line {
                    width: 74%;
                    border-bottom: $main 1px solid;
                }
            }
            & .text-1 {
                width: 100%;
                & .text-1__label {
                    text-align: center;
                    & > h6,
                    & > span {
                        font-weight: bold !important;
                        font-size: 1rem;
                    }
                }
                & .text-1__line {
                    text-align: center;
                    border-bottom: $main 1px solid;
                }
            }

            & .acknowledgement {
                padding: 2rem;
            }
        }
        &__header {
            text-transform: uppercase;
            font-weight: 400;
            font-size: 1rem;
            text-align: center;
            color: $main;
            padding: 1.5rem 0;
        }
        &__staff {
        }
        &__info {
        }
        &__approval {
        }
        &__it {
        }
    }
}

.print__document {
    @media print {
        width: 100% !important;
        padding: 0 !important;
        margin: 0 !important;
    }
}
