.brand__logo {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &__main {
        width: 15rem;
        height: 4rem;
        margin-left: 2rem;
        & > img {
            width: 100%;
            height: 100%;
        }
    }
}
.header {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    &__nav {
        width: 100%;
        height: 2.5rem;
        background-color: $main-2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
        &__list {
            position: relative;
            &__item {
                display: flex;
                & > a {
                    color: $white;
                    font-size: 1rem !important;
                    letter-spacing: 0.02rem;
                    &:hover {
                        color: $white;
                    }
                }
            }
        }
        &__list--left {
            width: 70%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            & > .header__nav__list__item {
                &:not(:last-child) {
                    margin-right: 1rem;
                }
            }
            & > .header__nav__list__item.active-left::after {
                content: "";
                display: block;
                position: absolute;
                top: 1rem;
                width: 0;
                height: 0;
                border-left: 12px solid transparent;
                border-right: 12px solid transparent;
                border-bottom: 15px solid $main-1;
            }
        }
        &__list--right {
            width: 30%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            & p {
                color: $white;
                font-size: 0.89rem;
                letter-spacing: 0.02rem;
                padding: 0 1rem;
                cursor: pointer;
                &:hover {
                    color: $white;
                }
            }
            & .dropdown-item a {
                color: $text !important;
            }
            & > .header__nav__list__item {
                height: 2.5rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                transition: background 0.2s ease-in;
                & > a {
                    padding: 1rem;
                }
                &:hover {
                    background-color: $main-1;
                }
            }
        }
    }
    &__details {
        width: 100%;
        height: 3rem;
        background-color: $main-1;
        -webkit-box-shadow: inset 1px 1px 5px 0px #6e3535;
        -moz-box-shadow: inset 1px 1px 5px 0px #6e3535;
        box-shadow: inset 1px 1px 5px 0px #6e3535;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__avatar {
            width: 20%;
            height: 4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            &__round {
                width: 3.5rem;
                height: 3.5rem;
                background-color: $white;
                border-radius: 100px;
                margin-top: 2rem;
                border: 3px solid transparent;
                & > img {
                    width: 100%;
                    height: 100%;
                    border-radius: 100px;
                }
            }
        }
        &__staff {
            width: 20%;
            &__name {
                letter-spacing: 0.13rem;
                font-weight: 200;
                color: $white;
            }
            &__title {
                letter-spacing: 0.13rem;
                font-weight: bold;
                font-size: 0.89rem;
                color: $white;
            }
        }
        &__brand__name {
            width: 60%;
            letter-spacing: 0.13rem;
            font-weight: bold;
            font-size: 1.5rem;
            text-transform: uppercase;
            color: $white;
        }
    }
}

.main__content {
    width: 100%;

    & li + li {
        margin-top: 0 !important;
    }
    &__sticky {
        margin-top: 0.2rem;
        width: 100%;
        position: sticky;
        top: 5.7rem;
        left: 0;
        z-index: 100;
    }
    & .s__tabs__tab {
        & > ul {
            padding-left: 16.9rem;
        }
    }
    & .s__tabs__content {
        padding: 0.5rem 2rem 0.5rem 2rem;
    }
}
.content__split {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    &__left {
        width: 20%;
        padding: 2rem;
        &__panel {
            width: 100%;
            position: sticky;
            top: 7.5rem;
            left: 0;
            z-index: 100;

            & > .card {
                margin-bottom: 0.5rem;
                & .card-content {
                    padding: 0.5rem !important;
                }
                & .content > p {
                    font-size: 0.8rem;
                }
            }
        }
    }
    &__right {
        width: 80%;
        &__sticky {
            margin-top: 0.2rem;
            width: 100%;
            position: sticky;
            top: 5.7rem;
            left: 0;
            z-index: 100;
        }
        & .s__tabs__content {
            padding: 0.5rem 2rem 0.5rem 0;
        }
    }
}

.profile__sidebar {
    width: 100%;
    font-size: 1rem !important;
}
