.staff__directory__container {
    width: 60%;
    margin: 0 auto;
    padding: 5rem 0;

    &__results {
        width: 100%;
        margin-top: 3rem;
        display: flex;
        flex-wrap: wrap;
        flex-shrink: 1;
        justify-content: flex-start;
        align-items: flex-start;
        &__card {
            width: 16rem;
            height: 21rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            background-color: #fff;
            border-radius: 3px;
            -webkit-box-shadow: -8px 2px 52px -8px rgba(238, 238, 238, 0.95);
            -moz-box-shadow: -8px 2px 52px -8px rgba(238, 238, 238, 0.95);
            box-shadow: -8px 2px 52px -8px rgba(238, 238, 238, 0.95);
            padding: 1rem;
            margin-bottom: 1rem;
            &:not(:last-child) {
                margin-right: 1rem;
            }
            & > .avatar {
                background-color: #eee;
                width: 6rem;
                height: 6rem;
                border-radius: 99999px;
                & > img {
                    width: 100%;
                    height: 100%;
                    border-radius: 99999px;
                }
            }
            & > .info {
                width: inherit;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 1rem;
                & .info__details {
                    & > a {
                        color: $text;
                    }
                    &:not(:last-child) {
                        margin-bottom: 0.3rem;
                    }
                }
                & .info__details.info--header {
                    margin-top: 0.5rem;
                    margin-bottom: 1rem;
                }
                & .info__details.info--btn {
                    margin-top: 1rem;
                }
            }
        }
    }
}
