.staff__directory__container {
    width: 60%;
    min-height: 100%;
    @include respond-up(lg) {
        width: 60%;
    }
    @include respond-down(md) {
        width: 80%;
    }
    @include respond-down(sm) {
        width: 90%;
    }
    margin: 0 auto;
    position: relative;
    &__search {
        width: 100%;
        height: 7rem;
        background-color: $body-bg;
        position: sticky;
        top: 5.5rem;
        left: 0;
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__results {
        @include grid-row;
        &__card {
            @include grid-column(
                $width: 25%,
                $height: 23rem,
                $gutter: $column-gutter-1
            );
            @include card-bg;
            @include respond-only(xs) {
                width: column-width(50%, $column-gutter-1);
            }

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            & > .avatar {
                background-color: #eee;
                width: 8rem;
                height: 8rem;
                border-radius: 99999px;
                & > img {
                    width: 100%;
                    height: 100%;
                    border-radius: 99999px;
                }
            }
            & > .info {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 1rem;
                & .info__details {
                    & > a {
                        color: $text;
                    }
                    &:not(:last-child) {
                        margin-bottom: 0.3rem;
                    }
                }
                & .info__details.info--header {
                    margin-top: 0.5rem;
                    margin-bottom: 1rem;
                }
                & .info__details.info--btn {
                    margin-top: 1rem;
                }
            }
        }
    }
}
