@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;

400;600;700&display=swap);.align-center {
  align-self: center;
  padding-right: 1rem;
}

.multiples-actions {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.multiples-actions form {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1.5rem;
}

.multiples-actions form .field:first-child {
  margin-right: 1rem;
}

.table__data__notfound {
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.workshift {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.workshift__card {
  width: 100%;
  max-height: 23rem;
  background-color: #fff;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
  border-radius: 3px;
}

.workshift__card__header {
  width: inherit;
  height: 3rem;
  position: relative;
  padding: 0 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.workshift__card__header > p {
  padding-left: 1.5rem;
}

.workshift__card__header::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
}

.workshift__card__content {
  width: inherit;
  height: 20rem;
  background-color: inherit;
  overflow-x: hidden;
  position: relative;
}

.workshift__card__content__search {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: inherit;
  padding: 1.5rem;
  z-index: 1;
}

.workshift__card__buttons {
  width: 8rem;
  align-self: center;
  margin: 0 1rem;
}

.workshift__card__buttons button:first-child {
  margin-bottom: 0.5rem;
}

.workshift__card__buttons button:last-child {
  margin-top: 0.5rem;
}

.icon--wrapper {
  cursor: pointer !important;
  color: #99001c;
  pointer-events: all !important;
}

.text-main {
  color: #99001c !important;
}

.modal-card-foot.justify-content-end {
  justify-content: flex-end !important;
}

.justify-c-end {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.is-horizontal > .field-label {
  margin-right: 1rem !important;
  flex-grow: 1 !important;
}

.is-horizontal-text-left > .field-label {
  text-align: left;
}

.appraisal__title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0;
}

.appraisal__title > p:first-child {
  margin-bottom: 0 !important;
  color: #262626;
  font-size: 1.2rem;
  font-weight: bold;
}

.appraisal__title > p:nth-child(2) {
  color: #686767;
  font-size: 1rem;
}

.appraisal__title > p:nth-child(3) {
  color: #262626;
  font-size: 1.2rem;
  font-weight: bold;
}

.format__staff {
  font-size: 1rem;
  color: #686767;
}

.dropper {
  max-width: 50%;
  border: 1px solid #cccccc !important;
  padding: 1rem;
  border-radius: 0.3rem;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
}

.profile-detail-bar {
  width: 100%;
  height: 13rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: repeating-linear-gradient(rgba(0, 0, 0, 0.644), rgba(0, 0, 0, 0.623)), url("/storage/bgs/profile_bg.jpg");
}

.profile-detail-bar > .p-text {
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: 1px;
}

.checkbox__lists {
  width: 100%;
}

.checkbox__lists__list {
  width: inherit;
}

.checkbox__lists__list > label {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 0.725rem 1.5rem;
  cursor: pointer;
  pointer-events: fill;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.checkbox__lists__list > label > input[type=checkbox] {
  width: 16px;
  height: 16px;
  margin-right: 1.5rem;
}

.checkbox__lists__list > label:hover {
  background-color: #f5f5f5;
}

.table__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.table__header__title {
  color: #99001c;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: bold;
}

.table__header__lists {
  display: flex;
}

.table__header__lists__item:not(:last-child) {
  padding-right: 0.6rem;
}

.kpi__table {
  width: 80%;
  margin: 2rem auto;
}

.kpi_goals__wrapper .goal__btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.step__buttons {
  width: 80%;
  margin: 2rem auto;
}

/**
    DESKTOP FIRST APPROACH
    No media query necessary for xl breakpoint as it has no upper bound on its width
**/

/**
    DESKTOP FIRST APPROACH
    No media query necessary for xl breakpoint as it has no upper bound on its width
**/

/***********************************
            BASIC RESET
***********************************/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* 
  Converting default browser font-size of 16px to 10px in percentage
  10px / 16px * 100 = 62.5%, thus 1rem = 62.5% = 10px
  */
  font-size: 62.5% !important;
  /**
      MOBILE FIRST APPROACH
      Extra small devices (portrait phones, less than 576px)
      No media query for `xs` since this is the default
      No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
  **/
  overflow-y: initial !important;
}

@media only screen and (min-width: 62em) {
  html {
    font-size: 75% !important;
  }
}

@media only screen and (max-width: 61.999em) {
  html {
    font-size: 56.25% !important;
  }
}

@media only screen and (max-width: 47.999em) {
  html {
    font-size: 50% !important;
  }
}

body {
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  font-family: "Open+Sans", sans-serif !important;
  font-weight: 400;
  line-height: 1.7;
  color: #686767;
  font-size: 1.2rem !important;
  background: #f8fafc !important;
}

a,
a:active {
  color: #686767;
  text-decoration: none;
}

::-moz-selection {
  background-color: #262626 !important;
  color: #fff !important;
}

::selection {
  background-color: #262626 !important;
  color: #fff !important;
}

.tabs.is-toggle li.is-active a {
  background-color: #262626 !important;
  border-color: #262626 !important;
}

.select:not(.is-multiple):not(.is-loading)::after {
  border-color: #686767 !important;
}

.label {
  font-size: 1rem !important;
  letter-spacing: 0.08rem;
}

.button.is-primary.is-light {
  color: #262626 !important;
}

.b__collapse__section {
  margin-bottom: 1.5rem;
}

.upload-draggable > .section {
  padding: 1rem !important;
}

.textarea:not([rows]) {
  max-height: 40em !important;
  min-height: 6.5em !important;
}

.b-tabs .tab-content {
  padding: 1rem 0 !important;
}

.center__buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
}

.modal {
  z-index: 1000 !important;
}

.modal-card-title {
  font-size: 1.2rem !important;
}

.modal-card-head,
.modal-card-foot {
  background-color: #fff !important;
  padding: 0.5rem !important;
}

.leave__type__form .field-label,
.leave__type__form___advance .field-label {
  flex: 2 !important;
}

.dropdown-item,
.dropdown .dropdown-menu .has-link a {
  font-size: 1.2rem !important;
}

.help {
  display: block;
  font-size: 1rem !important;
  margin-top: 0.25rem;
}

.b-checkbox.checkbox:hover input[type=checkbox]:not(:disabled) + .check {
  border-color: rgba(13, 103, 206, 0.651) !important;
}

.b-checkbox.checkbox input[type=checkbox]:checked + .check {
  background-color: rgba(13, 103, 206, 0.651) !important;
  border-color: rgba(13, 103, 206, 0.466) !important;
}

.b-checkbox.checkbox input[type=checkbox]:focus:checked + .check {
  box-shadow: 0 0 0.5em rgba(13, 103, 206, 0.651) !important;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.pdf-app #thumbnailView {
  position: absolute;
  width: 100% !important;
  top: 0;
  bottom: 0;
  padding: 10px 30px 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.has-text-primary {
  color: rgba(13, 103, 206, 0.651) !important;
}

.datepicker .datepicker-table .datepicker-body .datepicker-cell.is-selected {
  background-color: rgba(13, 103, 206, 0.651) !important;
  color: #fff;
}

.datepicker .datepicker-table .datepicker-body .datepicker-cell.is-today {
  border: solid 1px rgba(13, 103, 206, 0.651) !important;
}

.select select:focus,
.taginput .taginput-container.is-focusable:focus,
.textarea:focus,
.input:focus,
.select select.is-focused,
.taginput .is-focused.taginput-container.is-focusable,
.is-focused.textarea,
.is-focused.input,
.select select:active,
.taginput .taginput-container.is-focusable:active,
.textarea:active,
.input:active,
.select select.is-active,
.taginput .is-active.taginput-container.is-focusable,
.is-active.textarea,
.is-active.input {
  border-color: rgba(13, 103, 206, 0.651) !important;
  box-shadow: 0 0 0 0.125em rgba(13, 103, 206, 0.25) !important;
}

.pagination.is-simple {
  margin-top: 1rem !important;
}

.pagination.is-simple > .pagination-link {
  padding: 0.4rem !important;
}

.pagination.is-simple > .info {
  padding: 0 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.pagination.is-simple > .pagination-previous:active,
.pagination.is-simple > .pagination-previous:focus,
.pagination.is-simple > .pagination-next:active,
.pagination.is-simple > .pagination-next:focus {
  border-color: #167df0 !important;
}

.notification {
  background-color: #ffffff !important;
  border-radius: 4px;
  position: relative;
  padding: 0 !important;
}

.login__container {
  width: 100%;
  height: 100vh;
}

.login__container__brand {
  height: 20%;
  background-color: #99001c;
}

.login__container__panel__wrapper {
  height: 100%;
}

.login__container__panel {
  position: relative;
  width: 40vw;
  height: 100%;
  margin: 0 auto;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__container__panel__logo {
  position: absolute;
  width: 16rem;
  height: 16rem;
  align-self: flex-start;
  z-index: 1;
  border-radius: 100rem;
  border-width: 25px;
  border-color: #262626;
  border-style: ridge;
  background-color: #f8fafc;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2.5rem 1.5rem 1.5rem 1.5rem;
}

.login__container__panel__logo img {
  width: 100%;
  height: 100%;
}

.login__container__panel__form {
  position: absolute;
  width: 75%;
  min-height: 23rem;
  height: 20rem;
  align-self: flex-end;
  box-shadow: 0px 70px 90px -90px rgba(0, 0, 0, 0.5);
  border: solid 1px #99001c;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__container__panel__form .control > input:focus {
  outline-color: #262626 !important;
  border-color: #262626 !important;
}

.login__container__panel__form__header {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: flex-end;
  background-color: #99001c;
  box-shadow: inset 1px 1px 5px 0px #96948f;
}

.login__container__panel__form__header__text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 78%;
  color: #fff;
}

.login__container__panel__form__header__text > h4 {
  font-size: 1.5rem;
  font-weight: 2000;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.login__container__panel__form__container {
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: flex-end;
  padding-right: 4rem;
}

.login__container__panel__form__container__body {
  width: 75%;
  height: 100%;
  padding-right: 0.8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.login-button {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.login-button > button {
  text-transform: capitalize;
  font-size: 1rem !important;
  letter-spacing: 1px;
  background-color: #262626 !important;
}

.login-error {
  font-size: 1rem;
  color: #eb3717;
  padding-left: 0.5rem;
}

.login-forget-password {
  font-size: 1rem;
  letter-spacing: 0.05rem;
}

.login-forget-password > a {
  color: #262626;
}

.login-forget-password > a:hover {
  text-decoration: underline;
}

.brand__logo {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.brand__logo__main {
  width: 15rem;
  height: 4rem;
  margin-left: 2rem;
}

.brand__logo__main > img {
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header__nav {
  width: 100%;
  height: 2.5rem;
  background-color: #262626;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.header__nav__list {
  position: relative;
}

.header__nav__list__item {
  display: flex;
}

.header__nav__list__item > a {
  color: #fff;
  font-size: 1rem !important;
  letter-spacing: 0.02rem;
}

.header__nav__list__item > a:hover {
  color: #fff;
}

.header__nav__list--left {
  width: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header__nav__list--left > .header__nav__list__item:not(:last-child) {
  margin-right: 1rem;
}

.header__nav__list--left > .header__nav__list__item.active-left::after {
  content: "";
  display: block;
  position: absolute;
  top: 1rem;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 15px solid #99001c;
}

.header__nav__list--right {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__nav__list--right p {
  color: #fff;
  font-size: 0.89rem;
  letter-spacing: 0.02rem;
  padding: 0 1rem;
  cursor: pointer;
}

.header__nav__list--right p:hover {
  color: #fff;
}

.header__nav__list--right .dropdown-item a {
  color: #686767 !important;
}

.header__nav__list--right > .header__nav__list__item {
  height: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background 0.2s ease-in;
}

.header__nav__list--right > .header__nav__list__item > a {
  padding: 1rem;
}

.header__nav__list--right > .header__nav__list__item:hover {
  background-color: #99001c;
}

.header__details {
  width: 100%;
  height: 3rem;
  background-color: #99001c;
  box-shadow: inset 1px 1px 5px 0px #6e3535;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__details__avatar {
  width: 20%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__details__avatar__round {
  width: 3.5rem;
  height: 3.5rem;
  background-color: #fff;
  border-radius: 100px;
  margin-top: 2rem;
  border: 3px solid transparent;
}

.header__details__avatar__round > img {
  width: 100%;
  height: 100%;
  border-radius: 100px;
}

.header__details__staff {
  width: 20%;
}

.header__details__staff__name {
  letter-spacing: 0.13rem;
  font-weight: 200;
  color: #fff;
}

.header__details__staff__title {
  letter-spacing: 0.13rem;
  font-weight: bold;
  font-size: 0.89rem;
  color: #fff;
}

.header__details__brand__name {
  width: 60%;
  letter-spacing: 0.13rem;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #fff;
}

.main__content {
  width: 100%;
}

.main__content li + li {
  margin-top: 0 !important;
}

.main__content__sticky {
  margin-top: 0.2rem;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 5.7rem;
  left: 0;
  z-index: 100;
}

.main__content .s__tabs__tab > ul {
  padding-left: 16.9rem;
}

.main__content .s__tabs__content {
  padding: 0.5rem 2rem 0.5rem 2rem;
}

.content__split {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
}

.content__split__left {
  width: 20%;
  padding: 2rem;
}

.content__split__left__panel {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 7.5rem;
  left: 0;
  z-index: 1000;
}

.content__split__left__panel > .card {
  margin-bottom: 0.5rem;
}

.content__split__left__panel > .card .card-content {
  padding: 0.5rem !important;
}

.content__split__left__panel > .card .content > p {
  font-size: 0.8rem;
}

.content__split__right {
  width: 80%;
}

.content__split__right__sticky {
  margin-top: 0.2rem;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 5.7rem;
  left: 0;
  z-index: 100;
}

.content__split__right .s__tabs__content {
  padding: 0.5rem 2rem 0.5rem 0;
}

.profile__sidebar {
  width: 100%;
  font-size: 1rem !important;
}

.personal__details {
  width: 100%;
}

.personal__details__photo {
  width: 100%;
  height: 13rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  background-image: repeating-linear-gradient(rgba(0, 0, 0, 0.644), rgba(0, 0, 0, 0.623)), url("/storage/bgs/profile_bg.jpg");
}

.personal__details__photo > .p-text {
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: 1px;
}

.personal__details__photo__display {
  position: relative;
  cursor: pointer;
}

.personal__details__photo__display:hover .profile__photo__overlay {
  z-index: 1;
  opacity: 1;
}

.personal__details__photo__display > .showOverlay.profile__photo__overlay {
  z-index: 1;
  opacity: 1;
}

.personal__details__photo__display > .profile__photo__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.4s ease-in;
  background-color: rgba(0, 0, 0, 0.637);
}

.personal__details__photo__display > .profile__photo__overlay .file-cta {
  height: 2.5rem !important;
  padding: 0 0.5rem !important;
}

.personal__details__photo__display > .profile__photo__overlay .file-icon {
  margin-right: 0 !important;
  font-size: 2rem !important;
}

.personal__details__photo__display > .photo__wrapper {
  width: 11rem;
  height: 13rem;
  border: 1.5px solid #eee;
  padding: 2px;
}

.personal__details__photo__display > .photo__wrapper > img {
  width: 100%;
  height: 100%;
}

.personal__details__detail {
  margin-top: 2rem;
}

.report__display__fields {
  list-style-type: none !important;
}

.report__display__fields__list > span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.report__display__fields__list > span span.icon {
  cursor: pointer;
  font-size: 1rem;
}

.report__display__fields__list > span > span {
  padding: 0 0.3rem;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
}

.report__display__fields__list__deep {
  list-style-type: none !important;
}

.report__display__fields__list__deep__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.report__display__fields__list__deep__list span.icon {
  cursor: pointer;
  font-size: 1rem;
}

.report__display__fields__list__deep__list > span {
  padding: 0 0.3rem;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}

.staff__directory__container {
  width: 60%;
  margin: 0 auto;
  padding: 5rem 0;
}

.staff__directory__container__results {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 1;
  justify-content: flex-start;
  align-items: flex-start;
}

.staff__directory__container__results__card {
  width: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: -8px 2px 52px -8px rgba(238, 238, 238, 0.95);
  padding: 1rem;
  margin-bottom: 1rem;
}

.staff__directory__container__results__card:not(:last-child) {
  margin-right: 1rem;
}

.staff__directory__container__results__card > .avatar {
  background-color: #eee;
  width: 6rem;
  height: 6rem;
  border-radius: 99999px;
}

.staff__directory__container__results__card > .avatar > img {
  width: 100%;
  height: 100%;
  border-radius: 99999px;
}

.staff__directory__container__results__card > .info {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.staff__directory__container__results__card > .info .info__details > a {
  color: #686767;
}

.staff__directory__container__results__card > .info .info__details:not(:last-child) {
  margin-bottom: 0.3rem;
}

.staff__directory__container__results__card > .info .info__details.info--header {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.staff__directory__container__results__card > .info .info__details.info--btn {
  margin-top: 1rem;
}

